@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

.site-header {
  background-color: rgba(240, 197, 46, 0.5);
}

.header-user-area ul,
.main-menu,
.breadcrumbs,
.side-filter ul,
.sorting-panel ul,
.products ul,
.pagination ul,
.slider ul,
.popular-categories ul,
.brands ul {
  list-style: none;
}

.header-user-area .logout {
  color: rgba(0, 0, 0, 0.3);
}

.nav-categories-list {
  display: none;
}

.main-menu > li {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.modal {
  display: none;
}

.index-about-us h2,
.index-contact h2,
.category-name {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
  font-weight: 800;
}

.delivery-companies {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.index-about-us a,
.index-contact a,
.footer-menu a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  text-transform: uppercase;
}

.index-about-us a:active,
.index-contact a:active,
.products .add-to-cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-footer {
  background-color: #464646;
}

.footer-user-area a {
  line-height: 36px;
  letter-spacing: 0.15px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-area a:hover {
  color: #ffffff;
}

.footer-user-area a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-area .logout {
  color: rgba(255, 255, 255, 0.3);;
}

.footer-address,
.footer-phone {
  color: #ffffff;
}

.footer-menu a {
  color: #ffffff;
}

.footer-menu a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.search {
  background-color: transparent;
  border: none;
}

.search::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search:focus::placeholder {
  color: #000000;
}

.header-user-area a:hover,
.main-menu a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-user-area a:active,
.main-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.side-filter {
  background-color: #ebebeb;
}

.breadcrumbs a,
.breadcrumbs {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.side-filter-name,
.products .product-name {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.filter-option {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
}

.filter-option:disabled {
  color: #a6a6a6;
}

.side-filter-button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
}

.add-to-cart {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
}

.add-to-comparsion {
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: 0;
}

.add-to-comparsion:hover {
  color: #000000;
}

.add-to-comparsion:active {
  color: rgba(0, 0, 0, 0.2);
}

.products .product-price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-weight: 300;
  color: #464646;
}

.slide-number {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  font-weight: 800;
  color: #ffffff;
}

.slide-name {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  font-weight: 800;
  color: #000000;
}

.slide-details-btn {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
}

.slide-details-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-feature-value {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  font-weight: 300;
  color: #000000;
}

.slider-feature-name {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.popular-category-name {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.popular-category-name a:active{
  color: rgba(0, 0, 0, 0.3);
}

.info-slider-category {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
  background-color: transparent;
  border: 0;
}

.info-slider-category:active {
  color: #f7e184;
}

.info-slider-heading {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  font-weight: 800;
  color: #000000;
}

.info-slider-wrapper {
  background-color: #e5e5e5;
}

.side-filter-heading,
.sorting-panel-heading,
.pagination .page-back,
.pagination .page-forward {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.side-filter-heading-wrapper {
  background-color: #d9d9d9;
}

.sorting-panel {
  background-color: #ebebeb;
}

.sorting-panel-item a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-panel-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.sorting-panel-item a:active {
  color: #000000;
}

.pagination {
  background-color: #ebebeb;
}

.pages-list a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.3);
}

.pages-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pages-list a:active {
  color: #000000;
}

.page-back:hover,
.page-forward:hover {
  background-color: #d9d9d9;
}

.page-back:active,
.page-forward:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1160px;
  margin: auto;
}

.header-logo {
  margin-left: 60px;
}

.header-toolbar {
  display: flex;
  margin-left: 99px;
  margin-right: 61px;
  margin-top: 17px;
}

.header-toolbar .search {
  margin-right: 393px;
}

.header-user-login,
.footer-user-area,
.footer-menu,
.socials ul,
.sorting-panel ul,
.pages-list,
.products ul,
.breadcrumbs,
.brands ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* Тут временные значения, ибо еще нету иконок возле ссылок чтобы рассчитать все точно */
.header-user-area {
  display: flex;
  width: 100%;
}

.header-user-login {
  margin-right: 238px;
}

.header-cart {
  margin-left: auto;
}

.main-navigation {
  margin-left: 60px;
}

.main-menu {
  padding-left: 0;
}

.about-contact-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}

.index-about-us {
  width: 462px
}

.index-contact {
  width: 560px;
}

.index-contact figure {
  margin: 0;
}

.footer-toolbar {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  margin-bottom: 36px;
}

.address-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 63px;
}

.address-wrapper p {
  margin: 0
}

.socials-wrapper {
  display: flex;
  justify-content: space-between;
}

.yellow-strip {
  color: #ffffff;
}

.category-name {
  margin-top: 44px;
  margin-bottom: 30px;
}

.category-container {
  width: 1160px;
  box-sizing: border-box;;
  padding-left: 60px;
  margin: auto;
}

.category-grid {
  display: flex;
  width: 1160px;
  margin: auto;
}

.side-filter {
  width: 327px;
}

.side-filter form {
  padding-left: 60px;
}

.category-central-section {
  width: 833px;
}

.side-filter-heading,
.sorting-panel-heading,
.info-slider-heading {
  margin: 0;
}

.sorting-panel {
  display: flex;
  padding-left: 74px;
  margin-bottom: 69px;
  padding-top: 21px;
  padding-bottom: 20px;
}

.sorting-panel ul {
  display: flex;
  width: 286px;
  justify-content: space-between;
}

.sorting-panel-heading {
  margin-right: 55px;
  padding-top: 4px;
}

.sorting-arrows {
  margin-left: 115px;
}

.products ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}

.pages-list {
  display: flex;
}

.pagination h2 {
  margin: 0;
}

.products,
.pagination {
  margin-left: 73px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 47px;
}

.breadcrumbs li {
  margin-right: 39px;
}

.side-filter-heading {
  padding-top: 25px;
  padding-bottom: 22px;
}

.page-back {
  padding-left: 30px;
  padding-right: 39px;
  padding-top: 24px;
  padding-bottom: 23px;
}

.page-forward {
  padding-right: 29px;
  padding-left: 31px;
  padding-top: 24px;
  padding-bottom: 23px;
}

.pages-list {
  align-self: center;
}

.pages-list li {
  margin-right: 30px;
}

.pages-list li:last-child {
  margin: 0;
}

.slider-buttons {
  display: none;
}

.slider-item {
  display: flex;
  justify-content: space-between;
  padding-right: 82px;
  padding-left: 90px;
}

.slide-number-wrapper {
  display: flex;
  justify-content: space-between;
}

.slider-features {
  display: flex;
}

.slide-info {
  width: 479px;
}

.category-img-wrapper {
  background-color: rgba(240, 197, 46, 0.5);
  width: 160px;
  height: 160px;
}

.popular-category-item:nth-child(1) img {
  padding-top: 52px;
  padding-left: 31px;
}

.popular-category-item:nth-child(2) img {
  padding-top: 41px;
  padding-left: 38px;
}

.popular-category-item:nth-child(3) img {
  padding-top: 38px;
  padding-left: 49px;
}

.popular-category-item:nth-child(4) img {
  padding-top: 50px;
  padding-left: 28px;
}

.popular-category-item:nth-child(5) img {
  padding-top: 32px;
  padding-left: 55px;
}

.popular-category-item:nth-child(6) img {
  padding-top: 49px;
  padding-left: 13px;
}

.popular-categories ul {
  display: flex;
  justify-content: space-between;
}

.popular-category-item {
  width: 160px;
}

.info-slider {
  display: flex;
}

.info-slider-buttons {
  display: flex;
  flex-direction: column;
  width: 278px;
}

.info-slider-content {
  width: 436px;
}

.brands ul {
  display: flex;
  justify-content: space-between;
}

.slider-features div {
  margin-right: 81px;
}

.slider-features div:last-child {
  margin-right: 0;
}
