@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
}

.site-header {
  background-color: rgba(240, 197, 46, 0.5);
}

.header-user-area ul,
.main-menu,
.breadcrumbs,
.side-filter ul,
.sorting-panel ul,
.products ul,
.pagination ul,
.slider ul,
.popular-categories ul,
.brands ul,
.delivery-companies,
.socials-list,
.nav-categories-list,
.categories-column-1,
.categories-column-2,
.categories-column-3,
.color-filter,
.side-filter-bluetooth ul,
.footer-user-area {
  list-style: none;
}

.header-user-area .logout {
  color: rgba(0, 0, 0, 0.3);
  margin-right: 64px;
}

.nav-categories-list {
  display: none;
}

.main-menu > li {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.modal {
  display: none;
}

.index-about-us h2,
.index-contact h2,
.category-name {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
  font-weight: 800;
}

.delivery-companies {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.index-about-us a,
.index-contact a,
.footer-menu a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  text-transform: uppercase;
}

.index-about-us a:active,
.index-contact a:active,
.products .add-to-cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-footer {
  background-color: #464646;
}

.footer-user-area a {
  line-height: 36px;
  letter-spacing: 0.15px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-area a:hover {
  color: #ffffff;
}

.footer-user-area a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-area .logout {
  color: rgba(255, 255, 255, 0.3);
  margin-right: 44px;
}

.footer-username {
  margin-right: 19px;
}

.footer-address,
.footer-phone {
  color: #ffffff;
}

.footer-address {
  width: 220px;
}

.footer-phone {
  width: 180px;
  display: flex;
  justify-content: flex-end;
}

.footer-menu a {
  color: #ffffff;
}

.footer-menu a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.search {
  background-color: transparent;
  border: none;
}

.search::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search:focus::placeholder {
  color: #000000;
}

.header-user-area a:hover,
.main-menu a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-user-area a:active,
.main-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.side-filter {
  background-color: #ebebeb;
}

.breadcrumbs a,
.breadcrumbs {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.side-filter-name,
.products .product-name {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.filter-option {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
}

.filter-option:disabled {
  color: #a6a6a6;
}

.side-filter-button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  position: relative;
  width: 200px;
  z-index: 1;
  margin-top: 33px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.add-to-cart {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  padding-bottom: 8px;
  padding-top: 8px;
}

.add-to-comparsion {
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: 0;
}

.add-to-comparsion:hover {
  color: #000000;
}

.add-to-comparsion:active {
  color: rgba(0, 0, 0, 0.2);
}

.products .product-price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-weight: 300;
  color: #464646;
  margin-top: 19px;
}

.slide-number {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  font-weight: 800;
  color: #ffffff;
  position: absolute;
  right: -35px;
  top: -14px;
}

.slide-name {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  font-weight: 800;
  color: #000000;
  margin-top: 35px;
  margin-bottom: 19px;
}

/* OLD

.slide-details-btn {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  width: 220px;
  padding-left: 12px;
  height: 40px;
}

*/

.slide-details-btn {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  width: 220px;
  padding-left: 12px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.slide-details-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-feature-value {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 8px;
}

.slider-feature-name {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  margin-top: 0;
}

.popular-category-name {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
  margin-top: 33px;
}

.popular-category-name a:active{
  color: rgba(0, 0, 0, 0.3);
}

.info-slider-category {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
  background-color: transparent;
  border: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.info-slider-category:active {
  color: #f7e184;
}

.info-slider-heading {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  font-weight: 800;
  color: #000000;
}

.info-slider-wrapper {
  background-color: #e5e5e5;
  margin-top: 163px;
  padding-bottom: 113px;
}

.side-filter-heading,
.sorting-panel-heading,
.pagination .page-back,
.pagination .page-forward {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.side-filter-heading-wrapper {
  background-color: #d9d9d9;
  position: relative;
}

.sorting-panel {
  background-color: #ebebeb;
}

.sorting-panel-item a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-panel-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.sorting-panel-item a:active,
.sorting-panel-item.active a {
  color: #000000;
}

.sorting-panel-item {
  margin-right: 30px;
}

.pagination {
  background-color: #ebebeb;
}

.pages-list a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 3.2px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.3);
}

.pages-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pages-list a:active,
.pages-list .current {
  color: #000000;
}

.page-back:hover,
.page-forward:hover {
  background-color: #d9d9d9;
}

.page-back:active,
.page-forward:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1160px;
  margin: auto;
}

.header-logo {
  margin-left: 60px;
}

.header-toolbar {
  display: flex;
  margin-left: 82px;
  margin-right: 61px;
  margin-top: 17px;
}

.header-toolbar .search {
  margin-right: 99px;
  position: relative;
  width: 441px;
  padding-left: 39px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 3px 18px;
  padding-top: 1px;
  height: 49px;
  margin-top: -10px;
  padding-right: 90px;
}

.header-toolbar .search:hover {
  border-bottom: 2px solid #000000;
  padding-top: 3px;
}

.header-toolbar .search:focus {
  border-bottom: 2px solid #000000;
  padding-top: 3px;
}

.header-user-login,
.footer-user-area,
.footer-menu,
.socials ul,
.sorting-panel ul,
.pages-list,
.products ul,
.breadcrumbs,
.brands ul,
.popular-categories ul,
.nav-categories-list,
.color-filter,
.side-filter-bluetooth ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.header-user-area {
  display: flex;
  width: 100%;
  width: 499px;
}

.header-user-login {
  display: flex;
}

.header-username {
  margin-right: 20px;
}

.header-login {
  margin-right: 217px;
}

.header-cart {
  margin-left: auto;
}

.main-navigation {
  margin-left: 59px;
}

.main-menu {
  padding-left: 0;
  display: flex;
  margin-top: 30px;
}

.about-contact-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
  margin-top: 106px;
}

.index-about-us {
  width: 482px
}

.index-contact {
  width: 560px;
}

.index-contact figure {
  margin: 0;
}

.footer-toolbar {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  margin-bottom: 20px;
}

.address-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 63px;
}

.address-wrapper p {
  margin: 0
}

.socials-wrapper {
  display: flex;
  justify-content: space-between;
}

.yellow-strip {
  color: #ffffff;
}

.category-name {
  margin-top: 37px;
  margin-bottom: 24px;
}

.category-container {
  width: 1160px;
  box-sizing: border-box;;
  padding-left: 60px;
  margin: auto;
}

.category-grid {
  display: flex;
  width: 1160px;
  margin: auto;
}

.side-filter {
  width: 327px;
  position: relative;
}

.side-filter form {
  padding-left: 60px;
}

.category-central-section {
  width: 833px;
}

.side-filter-heading,
.sorting-panel-heading,
.info-slider-heading {
  margin-bottom: 0;
}

.sorting-panel {
  display: flex;
  padding-left: 74px;
  margin-bottom: 69px;
  padding-top: 21px;
  padding-bottom: 21px;
  position: relative;
}

.sorting-panel ul {
  display: flex;
  max-width: 518px;
  flex-wrap: wrap;
}

.sorting-panel-heading {
  margin-right: 55px;
  padding-top: 2px;
  margin-top: 0;
}

.sorting-arrows {
  margin-left: auto;
  margin-top: -2px;
}

.products ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}

.pages-list {
  display: flex;
  flex-wrap: wrap;
}

.pagination h2 {
  margin: 0;
}

.products,
.pagination {
  margin-left: 73px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 46px;
}

.breadcrumbs li {
  margin-right: 18px;
}

.side-filter-heading {
  padding-top: 23px;
  padding-bottom: 23px;
  margin-top: 0;
}

.page-back {
  padding-left: 30px;
  padding-right: 39px;
  padding-top: 24px;
  padding-bottom: 23px;
}

.page-forward {
  padding-right: 29px;
  padding-left: 31px;
  padding-top: 24px;
  padding-bottom: 23px;
}

.pages-list {
  align-self: center;
  max-width: 482px;
}

.pages-list li {
  margin-right: 27px;
}

.pages-list li:last-child {
  margin: 0;
}

.slider-pages-buttons {
  display: none;
}

.slider-item {
  display: flex;
  justify-content: space-between;
  padding-right: 82px;
  padding-left: 90px;
}

.slide-number-wrapper {
  display: flex;
  justify-content: space-between;
}

.slider-features {
  display: flex;
  margin-top: 13px;
  max-width: 481px;
  flex-wrap: wrap;
}

.slide-info {
  width: 481px;
  position: relative;
  margin-right: -2px;
}

.category-img-wrapper {
  background-color: rgba(240, 197, 46, 0.5);
  width: 160px;
  height: 160px;
}

.popular-category-item:nth-child(1) img {
  padding-top: 52px;
  padding-left: 31px;
}

.popular-category-item:nth-child(2) img {
  padding-top: 41px;
  padding-left: 38px;
}

.popular-category-item:nth-child(3) img {
  padding-top: 38px;
  padding-left: 49px;
}

.popular-category-item:nth-child(4) img {
  padding-top: 50px;
  padding-left: 28px;
}

.popular-category-item:nth-child(5) img {
  padding-top: 32px;
  padding-left: 55px;
}

.popular-category-item:nth-child(6) img {
  padding-top: 49px;
  padding-left: 13px;
}

.popular-categories ul {
  display: flex;
  justify-content: space-between;
}

.popular-category-item {
  width: 160px;
}

.info-slider {
  display: flex;
  position: relative;
}

.info-slider-buttons {
  display: flex;
  flex-direction: column;
  width: 278px;
  margin-top: -20px;
  position: relative;
}

.info-slider-content {
  margin-top: -74px;
  padding-left: 123px;
}

.brands ul {
  display: flex;
  justify-content: space-between;
}

.slider-features div {
  margin-right: 78px;
  min-width: 60px;
}

.slider-features div:last-child {
  margin-right: 0;
}

.site-header {
  margin-top: 40px;
  height: 299px;
}

.header-logo {
  position: absolute;
  top: 21px;
}

.header-toolbar {
  padding-top: 43px;
}

.catalog-menu {
  margin-right: 322px;
  position: relative;
}

.main-menu-delivery {
  margin-right: 34px;
}

.main-menu-warranty {
  margin-right: 108px;
}

.header-toolbar form {
  display: inherit;
  margin-left: -22px;
  position: relative;
}

.header-user-login .header-username::before,
.header-login::before {
  content: "";
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  display: inline-block;
  padding-right: 13px;
}

.header-compare::before {
  content: "";
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  padding-right: 10px;
}

.header-cart::before {
  content: "";
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  padding-right: 10px;
}

.catalog-menu::after {
  content: "";
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  right: -28px;
  top: 3px;
  opacity: 0.3;
}

.homepage-main {
  margin-top: -111px;
}

.slider-strip {
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  margin-top: 37px;
}

.slide-description {
  margin-bottom: 13px;
  min-height: 90px;
}

.slide-buttons {
  position: relative;
}

.slide-details-btn::before {
  content: "";
  width: 220px;
  height: 8px;
  background-color: #f0c52e;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
}

.popular-categories {
  margin-top: 97px;
}

.info-slider-text {
  margin-top: 31px;
}

.info-slider-buttons::after {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 7px;
  height: 319px;
  display: block;
  top: -80px;
  left: 277px;
}

.info-slider-buttons button {
  text-transform: uppercase;
  width: 160px;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}

.info-slider-buttons button::before {
  content: "";
  display: block;
  background-color: #f0c52e;
  width: 160px;
  height: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  z-index: -1;
}

.info-slider-buttons button:hover::before {
  height: 100%;
  transform: none;
  top: 0;
}

.info-slider-buttons button:active {
  color: #f7e184;
}

.info-slider-buttons button:active::before {
  background-color: #000000;
}

.info-slider-buttons .active {
  background-color: black;
  color: #f7e184;
  position: relative;
}

.info-slider-buttons .active::after,
.info-slider-buttons button:active::after {
  content: "";
  width: 118px;
  height: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
  right: -117px;
}

.info-slider-category.active::before {
  display: none;
}

.info-slider-content .row {
  display: flex;
}

.info-slider-pic.delivery {
  background-image: url(../img/delivery.svg);
  width: 136px;
  height: 164px;
  margin-top: 59px;
  margin-left: 121px;
}

.info-slider-pic.warranty {
  background-image: url(../img/warranty.svg);
  width: 171px;
  height: 194px;
  margin-top: 36px;
  margin-left: 104px;
}

.info-slider-pic.credit {
  background-image: url(../img/credit.svg);
  width: 156px;
  height: 186px;
  margin-top: 35px;
  margin-left: 95px;
}

.info-slider-text-column {
  width: 436px;
}

.brands {
  margin-top: 94px;
}

.about-contact-wrapper h2 {
  margin-bottom: 43px;
}

.about-contact-wrapper p {
  margin-bottom: 30px;
}

.index-about-us,
.index-contact {
  position: relative;
}

.about-us-strip,
.contact-strip {
  background-color: #000000;
  width: 80px;
  height: 7px;
  position: absolute;
  top: -13px;
}

.index-contact figure {
  margin-top: 39px;
}

.about-us-btn,
.contact-btn {
  width: 260px;
  position: absolute;
  bottom: -78px;
  padding-left: 2px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
}

.about-us-btn::before,
.contact-btn::before {
  content: "";
  display: block;
  background-color: #f0c52e;
  width: 260px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.about-us-btn:hover::before,
.contact-btn:hover::before {
  height: 100%;
  transform: none;
  top: 0;
  left: 0;
}

.delivery-companies {
  padding-left: 35px;
  padding-top: 36px;
}

.delivery-companies li {
  position: relative;
}

.delivery-companies li::before {
  content: "";
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  left: -34px;
  margin-top: 16px;
}

.footer-user-area {
  display: flex;
  margin-top: -5px;
}

.footer-login::before {
  content: "";
  background-image: url(../img/user-footer.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  display: inline-block;
  padding-right: 13px;
}

.footer-compare::before {
  content: "";
  background-image: url(../img/compare-footer.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  padding-right: 10px;
}

.footer-cart::before {
  content: "";
  background-image: url(../img/cart-footer.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  padding-right: 10px;
}

.footer-compare {
  margin-right: 40px;
}

.footer-login {
  margin-right: 44px;
}

.footer-menu {
  display: flex;
  margin-top: 3px;
  width: 473px;
  flex-wrap: wrap;
}

.footer-menu li {
  margin-right: 35px;
}

.yellow-strip {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  margin-top: 11px;
}

.socials ul {
  display: flex;
  width: 141px;
  justify-content: space-between;
  margin-left: -54px;
  margin-top: -2px;
}

.htmlacademy {
  margin-top: -4px;
  margin-bottom: 57px;
}

.nav-categories-list {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: none;
  display: none;
  padding-top: 20px;
  position: absolute;
}

.socials {
  margin-bottom: 58px;
}

.modal {
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-contact {
  width: 960px;
  height: 553px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 1;
}

.categories-column-1 {
  padding: 0;
}

.categories-column-2 {
  padding-left: 58px;
}

.categories-column-3 {
  padding-left: 77px;
  margin-right: -12px;
}

.modal-close {
  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;
  opacity: 0.5;
  width: 55px;
  height: 55px;
  border: none;
  display: flex;
  margin-left: auto;
  margin-top: 22px;
  margin-right: 22px;
  border-radius: 50%;
  outline: none;
}

.modal-close:hover {
  opacity: 1;
  cursor: pointer;
}

.modal-close:active {
  opacity: 0.3;
}

.contact-name-email-wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-name-wrapper,
.contact-email-wrapper,
.contact-message-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-contact form {
  padding-left: 100px;
  padding-right: 100px;
}

.modal-contact label {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 6px;
}

.contact-name-email-wrapper input {
  width: 360px;
  height: 50px;
}

.contact-message-wrapper input {
  height: 156px;
}

.contact-message-wrapper {
  margin-top: 35px;
}

.contact-send-btn {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  width: 200px;
  border: 0;
  background-color: transparent;
  position: relative;
  margin-top: 50px;
  padding-bottom: 8px;
  padding-top: 8px;
  outline: none;
}

.contact-send-btn::before {
  content: "";
  width: 200px;
  height: 8px;
  background-color: #f0c52e;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
}

.contact-send-btn:hover::before{
  height: 100%;
  transform: none;
  top: 0;
}

.modal-contact-form input {
  box-sizing: border-box;
  padding-left: 20px;
  background-color: #f2f2f2;
  border: none;
}

.modal-contact-form input::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-map {
  width: 960px;
  height: 559px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal-map .modal-close {
  position: absolute;
  top: 0;
  right: 0;
}

.site-header.category-page {
  height: 186px;
}

.breadcrumbs li::after {
  content: "";
  background-image: url("../img/nav-arrow.svg");
  width: 4px;
  height: 7px;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 1px;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.sorting-panel ul {
  margin-top: -3px;
}

.side-filter-options {
  margin-top: 69px;
  padding-right: 67px;
}

.side-filter-options section {
  border-top: 2px solid #000000;
}

.side-filter-name {
  margin-top: 10px;
  margin-bottom: 35px;
}

.side-filter-price {
  margin-bottom: 34px;
}

.side-filter-color {
  margin-bottom: 31px;
}

.arrow-up {
  background-image: url(../img/icon-up-dir.svg);
  width: 11px;
  height: 10px;
  display: inline-block;
  margin-right: 15px;
}

.arrow-down {
  background-image: url(../img/icon-down-dir.svg);
  width: 11px;
  height: 10px;
  display: inline-block;
}

.side-filter-button::before {
  content: "";
  width: 200px;
  height: 8px;
  background-color: #f0c52e;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
}

.poductbox-overlay {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 176px;
  left: 80px;
}

.product-name-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.filter-option label {
  position: relative;
  padding-left: 22px;
  margin-left: 16px;
}

.check-input + label::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -2px;
  left: -18px;
}

.radio-input + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -4px;
  left: -18px;
}

.filter-option input[type="checkbox"]:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
}

.filter-option input[type="radio"]:checked + label::before {
  background-image: url(../img/radio-on.svg);
}

.filter-option input[type="checkbox"]:focus + label,
.filter-option input[type="radio"]:focus + label {
  outline: 1px solid rgb(59, 153, 252);
}

.products .product-name {
  max-width: 256px;
  box-sizing: border-box;
}

.products li {
  margin-bottom: 28px;
  position: relative;
}

.products li:nth-last-of-type(1),
.products li:nth-last-of-type(2) {
  margin-bottom: 17px;
}

.pages-list {
  margin-top: 2px;
}

.footer-username::before {
  content: "";
  background-image: url(../img/user-footer.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  display: inline-block;
  padding-right: 13px;
}

.poductbox-overlay .add-to-cart {
  width: 200px;
  position: relative;
  z-index: 0;
}

.poductbox-overlay .add-to-cart::before {
  content: "";
  width: 200px;
  height: 8px;
  background-color: #f0c52e;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.product-image-wrapper:hover img {
  opacity: 0.7;
}

.product-image-wrapper:hover > .poductbox-overlay {
  display: flex;
}

.poductbox-overlay .add-to-cart:hover::before {
  height: 100%;
  transform: none;
  top: 0;
}

.side-filter-button:active {
  color: rgba(0,0,0,0.3);
}

.side-filter-button:hover::before {
  height: 100%;
  transform: none;
  top: 0;
}

.header-logo:hover,
.footer-logo:hover {
  opacity: 0.6;
}

.header-logo:active,
.footer-logo:active {
  opacity: 0.3;
}

.socials-list a {
  opacity: 0.3;
}

.socials-list a:hover {
  opacity: 0.6;
}

.socials-list a:active {
  opacity: 0.1;
}

.htmlacademy:hover {
  opacity: 0.6;
}

.htmlacademy:active {
  opacity: 0.3;
}

.sorting-arrows a {
  opacity: 0.2;
}

.sorting-arrows a:hover {
  opacity: 0.4;
}

.sorting-arrows a:active,
.sorting-arrows .clicked  {
  opacity: 1;
}

.slide-details-btn:hover::before {
  height: 100%;
  transform: none;
  top: 0;
}

.category-img-wrapper:hover {
  background-color: #f0c52e;
}

.category-img-wrapper:active img {
  opacity: 0.3;
}

.catalog-menu:hover + .nav-categories-list,
.catalog-menu:focus + .nav-categories-list,
.nav-categories-list:hover {
  display: flex;
}

.nav-categories-list::before {
  content: "";
  width: 554px;
  height: 2px;
  position: absolute;
  display: block;
  background-color: transparent;
  top: 0;
  margin-top: -1px;
}

.nav-categories-list::after {
  content: "";
  width: 1160px;
  height: 163px;
  position: absolute;
  display: block;
  background-color: #f7e296;
  top: 0;
  left: -59px;
  z-index: 1;
}

.nav-categories-list li {
  z-index: 2;
}

.search-btn {
  width: 85px;
  height: 49px;
  background-color: transparent;
  border: 2px solid #000000;
  position: absolute;
  right: 99px;
  bottom: 0;
  display: none;
}

.search-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-btn:focus {
  background-color: #000000;
  color: rgba(255,255,255,0.3);
  display: block;
}

.search-btn:active {
  background-color: #000000;
  color: rgba(255,255,255,0.3);
  display: block;
}

.search:focus + .search-btn {
  display: block;
}

.search-form:focus-within button {
  display: block;
}
.search-form:focus-within input {
  border-bottom: 2px solid #000000;
  padding-top: 3px;
}

.filter-grey-strip {
  width: 196px;
  height: 2px;
  background-color: #dbdbdb;
  margin-left: 4px;
}

.filter-green-strip {
  width: 110px;
  height: 2px;
  background-color: #91c92f;
  margin-left: 4px;
  position: absolute;
  top: 0;
}

.range-slider-pin {
  position: absolute;
  width: 20px;
  height: 22px;
  background-image: url(../img/filter-button.svg);
  background-size: cover;
  border-radius: 50%;
  border: 0;
}

.range-slider-pin:active {
  width: 22px;
  height: 24px;
}

.range-slider-pin-min {
  top: -10px;
  left: -6px;
}

.range-slider-pin-max {
  top: -10px;
  left: 107px;
}

.range-slider {
  position: relative;
}

.price-filter-text {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
  margin-top: 9px;
}

.price-to {
  margin-left: 58px;
}

.side-filter-color h3,
.side-filter-bluetooth h3 {
  margin-bottom: 18px;
}

.brands a {
  width: 260px;
  height: 100px;
  display: block;
  background-repeat: no-repeat;
}

.brands .dji {
  background-image: url(../img/brandlogo-1-grey.jpg);
}

.brands .dji:hover {
  background-image: url(../img/brandlogo-1.png);
}

.brands .spgadgets {
  background-image: url(../img/brandlogo-2-grey.jpg);
}

.brands .spgadgets:hover {
  background-image: url(../img/brandlogo-2.jpg);
}

.brands .gopro {
  background-image: url(../img/brandlogo-3-grey.jpg);
}

.brands .gopro:hover {
  background-image: url(../img/brandlogo-3.jpg);
}

.brands .vive {
  background-image: url(../img/brandlogo-4-grey.jpg);
}

.brands .vive:hover {
  background-image: url(../img/brandlogo-4.jpg);
}

.slider-item.quadrocopter {
  margin-left: -56px;
}

.slider-img-container {
  max-width: 526px;
  max-height: 486px;
}

.quadrocopter .slider-img-container {
    padding-top: 65px;
}

.modal-contact input:hover,
.contact-message-wrapper textarea:hover {
  background-color: #eaeaea;
}

.modal-contact input:focus,
.contact-message-wrapper textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
  outline: none;
  padding-left: 17px;
}

.modal-contact input:invalid {
  background-color: #f6dada;
}

.new-product .product-image-wrapper::after {
  content: "new";
  width: 61px;
  height: 61px;
  border: 2px solid #d7d7d7;
  border-radius: 50%;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  box-sizing: border-box;
  position: absolute;
  top: 28px;
  right: 27px;
  padding-top: 17px;
  padding-left: 14px;
}

.product-image-wrapper {
  position: relative;
}

.product-image-wrapper img {
  max-width: 360px;
  max-height: 379px;
}

.side-filter::before {
  content: "";
  height: 100%;
  width: 100vw;
  background-color: #ebebeb;
  right: 320px;
  top: 0;
  position: absolute;
}

.sorting-panel::after {
  content: "";
  height: 100%;
  width: 100vw;
  position: absolute;
  background-color: #ebebeb;
  top: 0;
  left: 833px;
}

.main {
  overflow: hidden;
}

.side-filter-heading-wrapper::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  background-color: #d9d9d9;
  right: 267px;
}

.slider {
  position: relative;
}

.slider-bullets {
  position: absolute;
  right: 62px;
  bottom: 156px;
  display: flex;
}

.slider-bullets-item {
  width: 12px;
  height: 12px;
  background-image: url(../img/slider-button-empty.svg);
  background-size: cover;
  margin-right: 21px;
}

.slider-bullets .active {
  background-image: url(../img/slider-button.svg);
}

/* Unnecessary styles, just for pixel perfect */

.custom-padding-1 {
  padding-right: 20px;
}

.custom-padding-2 {
  padding-right: 36px;
}

/* End of unnecessary styles */

.contact-message-wrapper textarea {
  background-color: #f2f2f2;
  border: none;
  resize: none;
  padding: 18px 20px;
  box-sizing: border-box;
  height: 156px;
}

.search {
  outline: none;
}

.modal-show {
  display: block;
  animation: bounce 1.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

.slider-item {
  display: none;
}

.slider-item.monopod {
  display: flex;
}
